@font-face {
    font-family: Nunito;
    font-display: fallback;
    src: url(/Nunito.woff2);
}

html, body {
    margin: 0;
    padding: 0;

    font-family: Nunito;
    color: #c5c5c5;
    background-color: #1e1e1e;
}

a, a:visited {
    text-decoration: none;
    color: #c5c5c5;
}

div#header {
  background-color: #171717;
  height: calc(4vw + 4vh);
  width: 100vw;

  display: flex;
  align-items: center;
  font-size: calc(1.5vw + 1.5vh);
}

div#header > span {
  font-size: calc((100vw + 100vh) * 0.013);
  margin: calc(1vw + 1vh);
}

div#header-right {
  margin-left: auto;
  margin-right: calc(1vw + 1vh);

  display: flex;
  flex-direction: row;
  align-items: center;
}

#content {
  overflow: hidden;
}

#content > a {
    display: flex;
    align-items: center;
    background-color: #2a2a2a;
}

#content > a:nth-child(even) {
    background-color: #202020;
}

#content > a > div {
    width: calc(10vw + 10vh);
    height: calc(7vw + 7vh);

    display: flex;
    justify-content: center;
    align-items: center;
}

#content > a > div > img {
    width: calc(7vw + 7vh);
}

#content > a > span {
    margin-left: calc(2vw + 2vh);
    font-size: calc(2.5vw + 2.5vh);
    width: calc(100vw - (10vw + 10vh));
}
