body, html {
    margin: 0;
    padding: 0;
    background-color: #010101;
}

#input {
    height: 5vh;
}

#front-eds {
    display: grid;
    background-color: #202020;

    padding: 2vw;
}

#front-eds-container {
    width: 100vw;
    height: 47.5vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #010101;

}

#rear-eds {
    display: grid;
    background-color: #202020;

    padding: 2vw;
}

#internal-pids {
    display: grid;
    background-color: #202020;

    padding: 2vw;
}

#internal-pids-container {
    width: 100vw;
    height: 47.5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #010101;
}

.led-cell {
    display: flex;
    background-color: #202020;
    justify-content: center;
    align-items: center;
}

.led {
    width: 5px;
    height: 5px;

    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    display: block;
}

.led-off {
    background-color: #303030;
}

.led-on {
    background-color: orange;
}
